In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dt = pd.read_csv("system_object_202505121221.csv")

In [3]:
dt.head(10)

,name,revision,db_id,object_id,group_id,description,major_id,is_final,is_iteration,is_revision,...,reserved_by_id,state_id,type_id,workspace_id,file_name,reference_id,url,from_structure_relation_count,to_structure_relation_count,migrationpush
0,test,A,1,33.1000,d2e97e7ddfdf438eb46655088b490983,NaN,33.1000,False,False,True,...,NaN,1,33,1,NaN,NaN,https://test.bumblebeeeee.com/?object_id=33.1,0,0,False
1,SO.Test.10.07.2024.SubAssy.3,A.0,81,27.8100,de59011f75b94240852408f4e87dee12,z,27.8000,False,True,False,...,NaN,2,27,1,NaN,NaN,https://test.bumblebeeeee.com/?object_id=27.81,0,0,False
2,Node1234,A,637,29.6370,0403c2065d054a6f9ad878e3b8f5c96c,NaN,29.6370,False,False,True,...,NaN,2,29,1,NaN,NaN,https://test.bumblebeeeee.com/?object_id=29.637,0,0,False
3,Program - July 2nd,A,11,54.1100,40c6f52f69ff4b4eb0bde1613bf8e37d,Program - July 2nd,54.1100,False,False,True,...,NaN,1,54,2,NaN,NaN,https://test.bumblebeeeee.com/?object_id=54.11,0,0,False
4,automation_item_ocoe,A.0,6193,27.6193,ef1a814bc3374749b384c7b44066bfd6,NaN,27.6192,False,True,False,...,NaN,1,27,1,NaN,NaN,?object_id=27.6193,0,0,False
5,Item July 2nd - 2,A,5,27.5000,7da4fad952304ebdaf1253538f25eb0d,Item July 2nd - 2,27.5000,False,False,True,...,NaN,2,27,2,NaN,NaN,https://test.bumblebeeeee.com/?object_id=27.5,0,0,False
6,automation_item_smse,A.0,5698,27.5698,830b94c827564401a1c0653c8452f420,NaN,27.5697,False,True,False,...,NaN,1,27,1,NaN,NaN,?object_id=27.5698,0,0,False
7,Task6781-2,newRevision,639,35.6390,c996126e7446488092d9306b8978382f,NaN,35.6390,False,False,True,...,NaN,3,35,2,NaN,NaN,https://test.bumblebeeeee.com/?object_id=35.639,0,0,False
8,SO.Test.12.07.2024.SubAssy.2,dummyTest,896,35.8960,d8e8819668574f428c7b7cc41cca5b2f,NaN,35.8960,False,False,True,...,NaN,2,35,1,NaN,NaN,https://test.bumblebeeeee.com/?object_id=35.896,0,0,False
9,test file 1,A,588,25.5880,a7e4f362030341e28f38fde5049d329f,NaN,25.5880,False,False,True,...,NaN,2,25,1,NaN,NaN,https://test.bumblebeeeee.com/?object_id=25.588,0,0,False

In [28]:
dt.isnull().sum()

name                                0
revision                            0
db_id                               0
object_id                           0
group_id                            0
description                      5795
major_id                            0
is_final                            0
is_iteration                        0
is_revision                         0
is_latest_iteration                 0
is_latest_revision                  0
is_best_so_far                      0
created_at                          0
updated_at                          0
finalized_at                     6808
is_reserved                         0
has_parent                          0
has_child                           0
to_relation_count                   0
from_relation_count                 0
has_files                           0
file_count                          0
is_deleted                          0
deleted_at                       6648
is_protected                        0
access_rights                    7023
properties                       4611
attributes                          0
creator_id                          0
lifecycle_id                        0
manager_id                       7023
modifier_id                      5219
owner_id                            6
reserved_by_id                   6492
state_id                            0
type_id                             0
workspace_id                        0
file_name                        7023
reference_id                     7023
url                               448
from_structure_relation_count       0
to_structure_relation_count         0
migrationpush                       0
dtype: int64

In [5]:
dt.dtypes

name                              object
revision                          object
db_id                              int64
object_id                        float64
group_id                          object
description                       object
major_id                         float64
is_final                            bool
is_iteration                        bool
is_revision                         bool
is_latest_iteration                 bool
is_latest_revision                  bool
is_best_so_far                      bool
created_at                        object
updated_at                        object
finalized_at                      object
is_reserved                         bool
has_parent                          bool
has_child                           bool
to_relation_count                  int64
from_relation_count                int64
has_files                           bool
file_count                         int64
is_deleted                          bool
deleted_at                        object
is_protected                        bool
access_rights                    float64
properties                        object
attributes                        object
creator_id                         int64
lifecycle_id                       int64
manager_id                       float64
modifier_id                      float64
owner_id                         float64
reserved_by_id                   float64
state_id                           int64
type_id                            int64
workspace_id                       int64
file_name                        float64
reference_id                     float64
url                               object
from_structure_relation_count      int64
to_structure_relation_count        int64
migrationpush                       bool
dtype: object

In [26]:
df = dt.loc[:, ['created_at', 'updated_at']]

                         created_at                     updated_at
0     2024-07-01 17:42:27.727 +0530  2024-07-01 17:42:27.804 +0530
1     2024-07-12 14:42:26.083 +0530  2024-08-13 14:54:05.820 +0530
2     2024-08-07 19:32:35.735 +0530  2024-08-07 19:32:36.099 +0530
3     2024-07-02 19:03:18.611 +0530  2024-07-02 19:03:18.735 +0530
4     2025-02-19 22:52:30.261 +0530  2025-02-19 22:52:53.331 +0530
...                             ...                            ...
7018  2024-12-02 19:53:40.244 +0530  2025-05-12 10:14:17.527 +0530
7019  2025-04-11 15:28:01.165 +0530  2025-04-11 15:28:01.184 +0530
7020  2025-04-11 15:24:34.233 +0530  2025-04-11 15:25:51.606 +0530
7021  2025-05-12 11:32:21.778 +0530  2025-05-12 11:32:22.217 +0530
7022  2025-05-12 11:32:21.891 +0530  2025-05-12 11:32:21.917 +0530

[7023 rows x 2 columns]

In [24]:
dt["is_final"].value_counts()

is_final
False    6789
True      234
Name: count, dtype: int64

In [32]:
dt["group_id"].value_counts()

group_id
bd827a983ddb4a0697a4261b959dd3c0    38
9c0cb6d2d6db412c8356d1ac4cbc52f9    28
3574b817e0b04c5ca943f9a8145f0ddb    24
31a2b3c49ae34162b952f7dd1ce87575    23
9575cd4d7341466aaca1417e2f91a004    18
                                    ..
e5a9490581bb4cc99d3d1a47f11346c0     1
06ec7eaff6d548a39cf7ce2a3164bc54     1
c4ae400eb8a74494b82cc6114345e9d3     1
d8e8819668574f428c7b7cc41cca5b2f     1
c996126e7446488092d9306b8978382f     1
Name: count, Length: 4198, dtype: int64

In [38]:
dt.shape

(7023, 44)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  7023 non-null   object
 1   updated_at  7023 non-null   object
dtypes: object(2)
memory usage: 109.9+ KB